$font-dark: #000;
$font-light: #fff;
$font-gray: #B7B1B1;

$background-blue: #143CF0;
$background-gray: #D8D7D6;
$background-yellow: #DDFF0E;

$border-dark: #000;
$boder-blue: #143CF0;
$border-white: #FFF;

$action: #0095f6;
$danger: #ed4956;